.one{
    background-color: black;
}
.two{
    color: white;
}
.note{
    background-color: rgb(0, 110, 255);
}
.note1{
    background-color: grey;
}
.intro{
    background-color: grey;
}
.v{
    color: aqua;
}